.featured{
    display: flex;
    width:100%;
    max-width: 1024px;
    gap: 20px;
    justify-content: space-between;
}
.featuredItem{
    position: relative;
    height: 250px;
    overflow: hidden;
    color:tomato;
    border-radius: 10px;
    z-index: 1;
}
.featuredImg{
    width:100%;
    object-fit: cover;
}
.featuredTitles{
    position: absolute;
    bottom: 15px;
    left: 15px;
}